.THIS .c-container {
    border: 0px solid #d8dde6;
    background-color: #ffffff;
    margin: 10px;
}

.THIS .custom-box {
    text-align: center;
    background-color: #ffffff;
    padding: 1rem;
    border: 1px solid #d8dde6;
    width: 100%;
    text-align: center;
}

.THIS .icon svg {
    background: #ffffff;
    fill: #f89c26;
    width: 100%; 
    height: auto;
}

.THIS .slds-p-horizontal--small {
	text-align: center;
}

.THIS .details {
    text-align: left;
}